.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  @apply sw-text-white sw-font-semibold;
}

.h1 {
  @apply sw-text-h5 sw-mb-2 sw-mt-2;
}

.h2 {
  @apply sw-text-h6 sw-mb-2 sw-mt-2;
}

.h3 {
  @apply sw-text-h6 sw-mb-2 sw-mt-2;
}

.h4 {
  font-size: 1.7rem;
  margin-bottom: 0.5rem;
  color: white;
}

.h5 {
  @apply sw-text-h6 sw-mb-2 sw-mt-2;
}

.h6 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: white;
}

.ul {
  display: block;
  list-style-type: disc;
  color: #b8cae6;
  padding-inline-start: 2rem;
}

.ol {
  display: block;
  list-style-type: decimal;
  padding-inline-start: 2rem;
  color: #b8cae6;

  b {
    display: block;
  }
}

.li {
  line-height: 1.6rem;
  margin-bottom: 1rem;
}
