.root {
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(1, 100%);
}

.videoEditor,
.graphicDesign,
.content,
.marketing {
  padding: 8px;
  cursor: pointer;
  position: relative;
}

.caiDu,
.rocket,
.graph,
.human,
.globeOne,
.globeTwo,
.globeThree,
.globeFour,
.designTable,
.design,
.editor,
.pc,
.calendarOne,
.calendarTwo,
.team {
  position: absolute;
  width: 65%;
  padding: 8px;
  left: 25%;
}

.design,
.editor,
.human,
.team {
  z-index: 10;
}

.graph,
.pc,
.designTable,
.calendarOne,
.calendarTwo {
  z-index: 2;
}

.graph {
  top: 37%;
}

.human {
  top: 42%;
}

.team {
  top: 50%;
}

.calendarOne {
  top: 42%;
  left: -5%;
}

.calendarTwo {
  top: 38%;
  left: 46%;
}

.editor {
  top: 32%;
  left: 28%;
}

.pc {
  top: 25%;
  left: 0;
}

.design {
  top: 33%;
  left: 27%;
}

.designTable {
  top: 24%;
  left: 15%;
}

// @media screen and (min-width: 768px) {
//   .root {
//     grid-template-rows: repeat(2, 50%);
//     grid-template-columns: repeat(2, 50%);
//   }
// }

// @media screen and (min-width: 1280px) {
//   .root {
//     grid-template-columns: repeat(4, 25%);
//     grid-template-rows: repeat(1, 100%);
//   }
// }
