.modal {
  background-color: #040d21;
  @apply sw-fixed sw-inset-0 sw-z-30 sw-w-screen sw-h-auto sw-overflow-y-auto;
}

.full {
  @apply sw-inset-0;
}

.center {
  @apply sw-flex sw-justify-center sw-items-center;
}

.subModal {
  z-index: 100;
}

.subContent {
  width: 320px;
  background: #172d42;
  border-radius: 8px;
  z-index: 10;
  border: 1px solid #65c7f7;
}

@screen md {
  .subContent {
    width: 600px;
  }
  .content {
    @apply sw-w-full;
  }

  .modal {
    @apply sw-overflow-hidden;
  }
}
