.overrideContainer {
  top: 120px;
}

.content {
  height: 20vh;
  @apply sw-overflow-y-scroll sw-pr-4;
}

/* width */
.content::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.content::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 8px;
}

/* Handle */
.content::-webkit-scrollbar-thumb {
  background: linear-gradient(234.85deg, #a6dbf7 9.06%, #51bcf9 102.41%);
  border-radius: 8px;
}

/* Handle on hover */
.content::-webkit-scrollbar-thumb:hover {
  background: #51bcf9;
}

.wrapper {
  display: flex;
}

.title {
  h3 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}

@media screen and (min-width: 400px) {
  .content {
    height: 25vh;
  }
}

@media screen and (min-width: 640px) {
}

@media screen and (min-width: 768px) {
  .content::-webkit-scrollbar {
    width: 8px;
  }

  .overrideContainer {
    top: 30%;
  }
}

@media screen and (min-width: 1024px) {
  .content {
    height: 25vh;
  }

  .overrideContainer {
    top: 40%;
  }
}

@media screen and (min-width: 1280px) {
  .content {
    height: 100px;
  }

  .overrideContainer {
    top: 100px;
  }
}

@media screen and (min-width: 1920px) {
  .overrideContainer {
    top: 80px;
  }

  .content {
    height: 220px;
  }
}
